.btn{
    /* background-color: white; */
    /* color: white; */
    background-color: linear-gradient(45deg,
    #f09433 0%,
    #e6683c 25% ,
    #dc2743 50%,
    #cc2366 75%,
    #4862c9 100%);
}
.con{
    display: flex;
    justify-content: center;
    align-items: center;
}